#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.pdf {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
  z-index: -1;
  position: relative;

  .PDFDocument {
    display: flex;
    align-items: center;
    .PDFPage {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

      > canvas {
        max-width: 100%;
        height: auto !important;
      }
      .react-pdf__Page__annotations {
        display: none;
      }
    }
  }
}
